html {
  color-scheme: dark;
  --color-accent: oklch(52.88% 0.16747 140.424);
  accent-color: var(--color-accent);
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS's UI font as the website font
	 */
  font: 100%/1.5 system-ui;

  max-width: 100ch;
  margin: 0 auto;
  margin-inline: auto;
  padding: 100px;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(60% 5% 200);
  padding-bottom: 0.3em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
}
input, textarea, button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

button {
  grid-column: 1 / -1;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid; 
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 2em;
}

.projects h2 {
  margin: 0;
}

.cv-section {
  margin-bottom: 2em;
}

section article {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid oklch(90% 1% 200);
}

section h3 {
  margin-bottom: 0.25em;
  color: var(--color-accent);
}

section article p:first-of-type {
  font-weight: 700;
  margin: 0.25em 0;
}

section article p:has(time) {
  color: #666;
  font-style: italic;
}

section:last-child article p {
  font-weight: normal;
}

img[alt="profile picture"] {
  margin-bottom: 0.5em;
  border-radius: 8px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.stats-grid dt {
    grid-row: 1;
    font-size: 1rem;
    font-weight: normal;
    color: #666;
    text-transform: uppercase;
    margin: 0;
}

.stats-grid dd {
    grid-row: 2;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}